/*Fonts Lato, Fira Code, Great Vibes, Open Sans, Pacifico, Courgette, Roboto*/
/*@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


:root{ 
  --accent-color:#c13015;
  --color-1:#2365a3;
  --light-font: white;
  --card-color:khaki;
}
* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  border-radius:;
}
html {
  font-size: 100%; /*or 62.5%? From now on use rem unit*/
}

body {
  margin: 1em;
/*  font-size: 1.25em;*/
  line-height: 2.5;

}

/*NAV*/

/*NAV Parent*/
.nav-parent {
  /*Dimensions*/
/*  background-color: var(--card-color); hilfsfarbe*/
  border-bottom: 3px solid var(--accent-color);
  width: 100%;
/*height: 110px; or 15vh*/
  /*fix*/
  /*flexbox*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; /*or flex-start+flex-end*/
  align-items: flex-end;
}
.nav-parent li {
  /*  border: 1px solid white; Hilfslinie*/
  list-style: none;  
}
/*NAV Logo*/
.nav-logo {
/*  background-color: var(--color-1); hilfsfarbe*/
  flex: 4 3 500px;
}
#header-img {
/*text-align: left;
  max-height: 90%;
  width: auto;
  diplay: block;
  max-width: 30%;*/
  width: 15vw;
  height: auto;
}
/*NAV Children normal*/
.nav-link {
  /*Style*/
  background-color: var(--accent-color);
  /*flexbox*/
  flex: 1 1 1fr;
  align-self:flex-end;
  padding: 0 1em;
  text-align:center;
}
.nav-link a {
  color: var(--light-font);
  text-decoration: none;
  font-weight: bolder;
  font-size:larger
  font: bolder larger Lato;
/*  vertical-align: bottom;*/
}
.nav-link:hover {
  opacity: 0.8;
}
/*NAV Contact button*/
.button {
  /*border-radius: 5px;*/
  background-color: var(--color-1);
}



/*Section flexbox*/
.section-parent {
/*  max-width: 150ch;*/
  height: 80vh;
  margin: 0 1vw;

  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items:stretch;
}
/*every child*/
.section-parent > div {
 /* margin: 1em;*/
}
/*Left child*/
.section-child-left {
  flex: 1 1 50%;
}
/*Right child*/
.section-child-right {
  flex: 1 1 50%;
}
.content {}
.graphic {}

.card {}
.card-1, .card-2, .card-3, .card-4{}
.section-img {
  max-width: 35ch;
  height: auto;
}


/*General design*/
h3 {
  font: 2.5em "Courgette";
  color: var(--accent-color);
}
section > li {
/*  line-height: 1.8;*/
}
.bold-p {
  /*font-style: italic;*/
  font: bolder 1em "Courgette";
 /* font-weight: bold;*/
  color: var(--color-1);
}



/*FOOTER*/
hr {
  height: 2px;
  border: none;
  background-color: var(--accent-color);
}
footer > p {
  text-align: center;
}

/*MOBILE*/
@media only screen and (max-width: 700px) {
  /*NAV*/
  #header-img {width: 25vw;}
  .no-mobile { display: none;}
  
  /*CONTACT*/
  .section-parent {flex-flow: column nowrap;}
}



/*REST*/
/*footer > .logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
}*/

/*Hilfslinien*/
section, section > div {border: 1px solid green;}