@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{ 
  --accent-color:#c13015;
  --color-1:#2365a3;
  --light-font: white;
  --card-color:khaki;
}
* {
  font-family:"Lato", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  border-radius:;
}
html {
  font-size: 100%; /*or 62.5%? From now on use rem unit*/
}

body {
  margin: 1em;
}

/*NAV*/

/*NAV Parent*/
.nav-parent {
  /*Dimensions*/
/*  background-color: var(--card-color); hilfsfarbe*/
  border-bottom: 3px solid var(--accent-color);
  width: 100%;
/*height: 110px; or 15vh*/
  /*fix*/
  /*flexbox*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; /*or flex-start+flex-end*/
  align-items: flex-end;
}
.nav-parent li {
  /*  border: 1px solid white; Hilfslinie*/
  list-style: none;  
}
/*NAV Logo*/
.nav-logo {
/*  background-color: var(--color-1); hilfsfarbe*/
  flex: 4 3 500px;
}
#header-img {
/*text-align: left;
  max-height: 90%;
  width: auto;
  diplay: block;
  max-width: 30%;*/
  width: 15vw;
  height: auto;
}
/*NAV Children normal*/
.nav-link {
  /*Style*/
  background-color: var(--accent-color);
  /*flexbox*/
  flex: 1 1 1fr;
  align-self:flex-end;
  padding: 0.75em;
  text-align:center;
}
.nav-link a {
  color: var(--light-font);
  text-decoration: none;
  font-weight: bolder;
  font-size:larger
  font: bolder larger Lato;
/*  vertical-align: bottom;*/
}
.nav-link a:hover {
  opacity: 0.8;
}
/*NAV Contact button*/
.button {
  /*border-radius: 5px;*/
  background-color: var(--color-1);
}




/*CONTACT*/
/*CONTACT Parent*/
.form-container {
 /* background-color: lightgreen; hilfsfarbe
  border: 1px solid green;*/
  max-width: 100ch;
  height: 70vh;
  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;
  justify-content:space-evenly;
  align-items: center;
}
/*CONTACT every child*/
.form-container > div {
 /* border: 1px solid white; /*Hilfslinie*/
 /* margin: 1em;*/
}
/*CONTACT Left*/
.form-left {
  background-color: var(--color-1); /*hilfsfarbe*/
 /* flex: 1 1 10px;*/
}
/*CONTACT Right*/
.form-right {
  background-color: var(--card-color); /*hilfsfarbe*/
 /* flex: 1 1 10px;*/
}

/*FOOTER*/
hr {
  height: 2px;
  border: none;
  background-color: var(--accent-color);
}
footer > p {
  text-align: center;
}

/*MOBILE*/
@media only screen and (max-width: 700px) {
  /*NAV*/
  #header-img {width: 25vw;}
  .no-mobile { display: none;}
  
  /*CONTACT*/
  .form-container {flex-flow: column wrap;}
}



/*REST*/
/*footer > .logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
}*/


/*Hilfslinien*/
section, section > div {border: 1px solid green;}