/*IMPORT FONTS*/
@import url();
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/*html is the root here, but :root as a class has higher specificity*/
:root{ 
  --bground-color:khaki;
  --nav-color:lightgrey;
  --hover-color:grey;
  --font-color: black;
  --heading-color: purple;
  --canvas-color:;
  --accent-color:red;
  --pale-color:;
  --color-1:;
}

* {
  box-sizing: border-box;
  border-radius:;
}
html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 100%; /*or 62.5%? From now on use rem unit*/
  font-weight: 400;
  color: var(--font-color);
  line-height: 1.7;
}
/*NAV*/
#navbar {
  background-color: var(--nav-color);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 330px;
  height: 100%;
  padding-left: 0.5vw;
  border-right: 2px solid var(--heading-color);
}
nav ul {
  overflow-x: hidden;
  overflow-y: auto;
  /*padding: 0;*/
}
nav li {
  list-style: none;
}
.nav-link {
  display: block;
  height: 6vh;
/*  border-top: 1px solid var(--heading-color);*/
}
.nav-link-last {/*border-bottom: 1px solid var(--heading-color);*/}
.nav-link:hover {
  background-color:var(--hover-color);
  color: white;
}

/*Headings*/
nav header {
  margin-top: 3vh;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--heading-color);
  text-align: center;
}
.nav-link {
  font-weight: 400;
  color: var(--heading-color);
}
section > header {
  margin-top: 5vh;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--heading-color);
}

/*MAIN*/
main{
  margin-left: 335px;
}
article {
  margin: 0 3vw;
}

p, li {text-align: justify;}
code {margin-left: 2vw;}
span {color:  var(--accent-color); font-weight:bolder;}

@media only screen and (max-width: 800px) {
  #navbar {
    height: 350px;
    width: 100%;
    position: absolute;
    border-right: none;
/*    border-bottom: 2px solid var(--heading-color);*/
  }
  main {
    margin-left: 0;
    margin-top: 380px;
  }
}

/*Hilfslinien*/
/*main {border: 1px solid green; background-color: var(--bground-color);}*/