/*IMPORT FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/*html is the root here, but :root as a class has higher specificity*/
:root{ 
  --font-color:black;
  --dominant-color: red;
  --bground-color: darkcyan;
  --hover-color:grey;
}

* {
  font-family:"Roboto", Helvetica, sans-serif;
  color: var(--font-color);
  box-sizing: border-box;
  border-radius:;
}
html {
  font-size: 100%; /*or 62.5%? From now on use rem unit*/
}

/*Set global layout, spacing, color, font*/
body{
  margin:0;
  background:;
  background-color: var(--canvas-color); /*or set in html*/
  font:/*family var(var(--font-color);*/
}

/*Page Layout*/
#navbar {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
}
#welcome-section {
/*  width: 100%;*/
  height: 100vh;
}
/*main {width: 100;}*/
section {
  height: 100vh;
  padding-top:11vh;
}

/*Color*/
#navbar {  background-color: var(--dominant-color);}
#welcome-section, #contact, .project-tile { background-color: var(--bground-color);}
#projects, footer {background-color: var(--hover-color);}

/*Nav*/
/*Nav logo & list flext*/

/*nav list flex*/
.nav-link-container {
  height: 10vh;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

/*nav list style*/
nav li { list-style: none;}
.nav-link { 
  display: block; /*height,width equal li*/
  padding: 1em;
  text-decoration: none;
}
.nav-link:hover {
  background-color: var(--hover-color);
  /*opacity, color*/
}

/*OTHER*/

nav {
}

main{}

footer {
  text-align: center;
}



.page-container {
  width: 100%;
  max-width: 100ch;
  margin: 0 auto;
  padding: ;
  background-color: var(--bground-color);
  /*border-radius: 10px;
  box-shadow: 6px 6px 10px 0 rgba(0,0,0,0.2);*/
}

.section {
  width: 100%;
  margin: 1rem 0;
}

img {
  /*this display and margin centers it in parent*/
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

@media {}



/*Hilfslinie*/
section, footer {border: 1px solid green;}