html {
  /* Comments
  import font-family*/
  font-size: 10px;
}
body {
  font-family: Calibri, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: center;
  color: #2D254E;
  margin: 0;
  /*background?*/
}
#main {
  margin: 30px 8px;
  padding: 50px;
  border-radius: 5px;
  background: rgba(225, 223, 123, 0.2); 
  /*linear-gradient(90deg, #80E4E4, #E1E97B, #8D36B0) 
  OR linear-gradient(135deg, rgba(128, 228, 228, 0.3), rgba(225, 223, 123, 0.3), rgba(141, 54, 176, 0.3)) 
  OR rgba(225, 223, 123, 0.5)*/
  /*box-shadow*/ 
}
h1{
  margin-bottom:0;
  font-size: 4rem;
  text-transform: uppercase;
  /*font-weight 200-800*/
}
h3{
  font-size: 2.5rem;
  font-weight: 800;
}
a{
  color: #477ca7;
}
a:visited{
  color: #74638F;
}
#img-div{
  padding: 30px 40px 30px 40px;
  margin: 50px 50px 70px 50px;
  background: rgba(128, 228, 228, 0.1);
  border-color: #2D254E;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(45,37,78,0.8), 12px 12px 20px rgba(45,37,78,0.2);
}
img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
#img-caption{ /*check other photo caps*/
  margin: 0 0 0 0;
  text-align: left;
  font-size: 1.2;
  line-height: 1;
}
#headline{
  margin: 30px;
}
ul{
 /* max-width: 550px;*/
  margin: auto;
  text-align: justify;
  line-height: 1.6;
}
li{
  margin: 16px 0;
}
blockquote{
  font-style: italic;
  text-align: center;
  background: rgba(128, 228, 228, 0.2);
  max-width: 500px;
  margin: 0 auto 50px auto;
  padding: 10px 10px 30px 10px;
  border-color: #2D254E;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(45,37,78,0.8), 12px 12px 20px rgba(45,37,78,0.2);
  /*Muster box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}
hr{
  color: #2D254E;
  height: 2px;
}
#tributes{
  text-align: left;
  /*style*/
}
@media (max-width: 460px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  h3 {
    font-size: 1.8rem;
  }
  #main{
    margin: 0;
    font-size: 1.4rem;
  }
  #img-caption {
    font-size: 1.4rem;
  }
}