:root {
  /*COLORS*/
/*--bground-color:darkkhaki;
  --font-color:blue;*/
}

body {
  /*FONT use shortcut for the following
  font-size: 100%;
  font-family:;
  font-weight:;
  line-height:;*/

  /*COLOR
  color: var(--font-color, blue);
  background-color: var(--bground-color, darkkhaki);*/
}

main {
  /*POSITION, ALIGN, RESPONSIVE*/
}

figure {
 /* background-color:darkcyan;*/
  /*text-align: center;*/
  max-width: 80ch;
}

#image {
  /*this display and margin centers it in parent*/
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  /*align: center;*/
}
/*dl {
  display:block;
}
dt {
  float: left;
  width: 30%;
  clear: none;
  margin-right: 5px;
}
dd {
  float: left;
  width: 70%;
}*/